
  <nav class="header-nav">
    <ul>
      <% if(currentUser){ %>
      <li><a href="/sections">Varieties</a></li>
      <li><a href="/sections/new">Add Variety</a></li>

      <li><a href="/listings">Flavors</a></li>
      <li><a href="/listings/new">Add Flavor</a></li>

      <li><a href="/photos">Flavor Photos</a></li>
      <li><a href="/photos/new">Add Flavor Photo</a></li>
      <% } %>
    </ul>
  </nav>

  
