<%- include('./partials/head.ejs') %>
<body id="contact">


<div class="container contact">
    <div class="row header">
        <h1 id="contact-title-name" class="text-center">HANNIE SWEET JARS</h1>
    </div>
    <div>
        <h6 class="order-confirm text-center">You will be contacted for order confirmation and payment details prior to order completion.</h>
        <p class="leave-page text-center">*Keep this tab open and use to add to order before submitting*</p>
    </div>
    <div class="row body">
      <form action="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x68;&#x61;&#x6e;&#x6e;&#x61;&#x68;&#x40;&#x68;&#x61;&#x6e;&#x6e;&#x69;&#x65;&#x73;&#x77;&#x65;&#x65;&#x74;&#x6a;&#x61;&#x72;&#x73;&#x2e;&#x63;&#x6f;&#x6d;" 
        method="post" enctype="text/plain">
      <!-- <form action="mailto:hannah@hanniesweetjars.com" method="post" enctype="text/plain"> -->
        <ul class="contact-form">  
          <li>
              <label for="first_name">First Name <span class="req">*</span></label>
              <input type="text" name="first_name"/>
              <label for="last_name">Last Name <span class="req">*</span></label>
              <input type="text" name="last_name"/>      
          </li>
          <li>
              <label for="email">Email <span class="req">*</span></label>
              <input type="email" name="email"/>
          </li>        
          <li>
              <label for="phone">Phone <span class="req">*</span></label>
              <input type="phone" name="phone"/>
          </li>        
          <li><div class="divider"></div></li>
          <li>
            <label class="choice" for="qty-1 ">Qty:</label>
            <select id="qty-1 " type="text" name="qty-1 ">
                <option value=" 0">0</option>
                <option value=" 1">1</option>
                <option value=" 2">2</option>
                <option value=" 3">3</option>
                <option value=" 4">4</option>
                <option value=" 5">5</option>
                <option value=" 6">6</option>
                <option value=" 7">7</option>
                <option value=" 8">8</option>
                <option value=" 9">9</option>
                <option value=" 10">10</option>
                <option value=" 11">11</option>
                <option value=" 12">12</option>
            </select>
            <label class="choice" for="flavor-1 ">Flavor:</label> 
            <select class="flavor" id="flavor-1 " type="text" name="flavor-1 ">
                <option class="text-muted" value=" choose">Click to choose</option>
                <option value=" Strawberry Pie">Strawberry Pie</option>
                <option value=" Blueberry Oatmeal Pie">Blueberry Oatmeal Pie</option>
                <option value=" Oreo Fudge Pudding Pie">Oreo Fudge Pudding Pie</option>
                <option value=" Banana Pudding Pie">Banana Pudding Pie</option>
                <option value=" Birthday Sprinkle Cheesecake">Birthday Sprinkle Cheesecake</option>
                <option value=" Peanut Butter Cheesecake Pie">Peanut Butter Cheesecake Pie</option>
                <option value=" Six (6) Piece Variety Pack"> Six (6) Piece Variety Pack</option>
            </select><br>
          </li>
          <li>
            <label class="choice" for="qty-2 ">Qty:</label> 
            <select id="qty-2 " type="text" name="qty-2 ">
                <option value=" 0">0</option>
                <option value=" 1">1</option>
                <option value=" 2">2</option>
                <option value=" 3">3</option>
                <option value=" 4">4</option>
                <option value=" 5">5</option>
                <option value=" 6">6</option>
                <option value=" 7">7</option>
                <option value=" 8">8</option>
                <option value=" 9">9</option>
                <option value=" 10">10</option>
                <option value=" 11">11</option>
                <option value=" 12">12</option>
            </select>
            <label class="choice" for="flavor-2 ">Flavor:</label>
            <select class="flavor" id="flavor-2 " type="text" name="flavor-2 ">
                <option class="text-muted" value=" choose">Click to choose</option>
                <option value=" Strawberry Pie">Strawberry Pie</option>
                <option value=" Blueberry Oatmeal Pie">Blueberry Oatmeal Pie</option>
                <option value=" Oreo Fudge Pudding Pie">Oreo Fudge Pudding Pie</option>
                <option value=" Banana Pudding Pie">Banana Pudding Pie</option>
                <option value=" Birthday Sprinkle Cheesecake">Birthday Sprinkle Cheesecake</option>
                <option value=" Peanut Butter Cheesecake Pie">Peanut Butter Cheesecake Pie</option>
                <option value=" Six (6) Piece Variety Pack"> Six (6) Piece Variety Pack</option>
            </select><br>    
          </li>
          <li>
            <label class="choice" for="qty-3 ">Qty:</label> 
            <select id="qty-3 " type="text" name="qty-3 ">
                <option value=" 0">0</option>
                <option value=" 1">1</option>
                <option value=" 2">2</option>
                <option value=" 3">3</option>
                <option value=" 4">4</option>
                <option value=" 5">5</option>
                <option value=" 6">6</option>
                <option value=" 7">7</option>
                <option value=" 8">8</option>
                <option value=" 9">9</option>
                <option value=" 10">10</option>
                <option value=" 11">11</option>
                <option value=" 12">12</option>
            </select>
            <label class="choice" for="flavor-3 ">Flavor:</label>
            <select class="flavor" id="flavor-3 " type="text" name="flavor-3 ">
                <option class="text-muted" value=" choose">Click to choose</option>
                <option value=" Strawberry Pie">Strawberry Pie</option>
                <option value=" Blueberry Oatmeal Pie">Blueberry Oatmeal Pie</option>
                <option value=" Oreo Fudge Pudding Pie">Oreo Fudge Pudding Pie</option>
                <option value=" Banana Pudding Pie">Banana Pudding Pie</option>
                <option value=" Birthday Sprinkle Cheesecake">Birthday Sprinkle Cheesecake</option>
                <option value=" Peanut Butter Cheesecake Pie">Peanut Butter Cheesecake Pie</option>
                <option value=" Six (6) Piece Variety Pack"> Six (6) Piece Variety Pack</option>
            </select><br>   
          </li>
          <li>
            <label class="choice" for="qty-4 ">Qty:</label> 
            <select id="qty-4 " type="text" name="qty-4 ">
                <option value=" 0">0</option>
                <option value=" 1">1</option>
                <option value=" 2">2</option>
                <option value=" 3">3</option>
                <option value=" 4">4</option>
                <option value=" 5">5</option>
                <option value=" 6">6</option>
                <option value=" 7">7</option>
                <option value=" 8">8</option>
                <option value=" 9">9</option>
                <option value=" 10">10</option>
                <option value=" 11">11</option>
                <option value=" 12">12</option>
            </select>
            <label class="choice" for="flavor-4 ">Flavor:</label>
            <select class="flavor" id="flavor-4 " type="text" name="flavor-4 ">
                <option class="text-muted" value=" choose">Click to choose</option>
                <option value=" Strawberry Pie">Strawberry Pie</option>
                <option value=" Blueberry Oatmeal Pie">Blueberry Oatmeal Pie</option>
                <option value=" Oreo Fudge Pudding Pie">Oreo Fudge Pudding Pie</option>
                <option value=" Banana Pudding Pie">Banana Pudding Pie</option>
                <option value=" Birthday Sprinkle Cheesecake">Birthday Sprinkle Cheesecake</option>
                <option value=" Peanut Butter Cheesecake Pie">Peanut Butter Cheesecake Pie</option>
                <option value=" Six (6) Piece Variety Pack"> Six (6) Piece Variety Pack</option>
            </select><br>  
          </li>
          <li><div class="divider"></div></li>
          <li>
            <label for="comments">Comments</label>
            <textarea cols="46" rows="3" name="comments"></textarea>
          </li>
          
          <li>
            <input class="btn btn-primary mt-3" type="submit" value="Submit" />
          </li>
          
        </ul>
      </form>  
    </div>
  </div>


<%- include('./partials/footer.ejs') %>