<%- include('./partials/head.ejs') %>
<body id="home">
<%- include('./partials/header.ejs') %>


<div class="container home">
    <div class="row row-index">
        <div class="col-md-6 d-none d-lg-block bio mx-auto mt-3">
            
            <div>
                <ul class="home-bio pl-4 ml-4">
                    <li> Individual Mason Jar Sweets</li>
                    <li> Choose from a variety of flavors</li>
                    <li> Made daily, with love</li>
                    <li> Gluten-free and vegan available</li>
                    <li> Advance orders for larger gatherings</li>
                    <li> Perfect COVID safe desserts</li>
                    <li> Return jars for shop credit</li>
                    <li> Located in Moorpark, CA</li>
                    <li> Contact-free pickup</li>
                </ul>
            </div>
    
        </div>
        <div class="col-md-6 d-none d-lg-block photo px-4 mx-auto pt-1 mt-1">
            <img class="img-fluid" id="memoji" src="/images/logo.png" alt="">
        </div>

        <div class="d-block bio d-lg-none">
            <div class="photo p-auto pb-5 m-auto mb-5">
                <img class="img-fluid" id="memoji" src="/images/logo.png" alt="">
            </div>
            <div>
                <ul class="bio-respond">
                    <li> Individual Mason Jar Sweets</li>
                    <li> Choose from a variety of flavors</li>
                    <li> Made daily, with love</li>
                    <li> Gluten-free and vegan available</li>
                    <li> Advance orders for larger gatherings</li>
                    <li> Perfect COVID safe desserts</li>
                    <li> Return jars for shop credit</li>
                    <li> Located in Moorpark, CA</li>
                    <li> Contact-free pickup</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="text-center index-buttons">
    <a class="btn btn-primary mb-5 px-4 mx-3" href="/listings">Menu</a>   
    <a class="btn btn-primary mb-5 px-4 mx-3" href="/contact" target="_blank">Contact and Order </a>  
</div>

<footer class="footer">
    <div class="row pt-sm-3 text-center">
        <div class="col-sm-5 mb-0 text-center">
            <p class="reserved mb-0">© Hannie Sweet Jars, 2021, All Rights Reserved</p>
        </div>
        <div class="col-sm-2  icons text-center">
            <a class="instagram" href="https://www.instagram.com/hanniesweetjars/" target="_blank"><i class="fab fa-instagram"></i></a>
            <!-- <a class="facebook" href="#"><i class="fab fa-facebook px-3"></i></a> -->
        </div>
        <div class="col-sm-5 text-center">
            <p class="lovely">Website designed and produced by <a href="http://lovelywebdesigns.com/">LovelywebDesigns</a></p>
        </div>
    </div>

</footer>


    <%- include('./partials/footer.ejs') %>
